<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="panels.css">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="panels.js"></script>
</head>
<body>
<div class="panels">
	<div class="panel panel-1">
		<p>Hey</p>
		<p>Let's</p>
		<p>Dance</p>
	</div>
	<div class="panel panel-2">
		<p>Give</p>
		<p>Take</p>
		<p>Receive</p>
	</div>
	<div class="panel panel-3">
		<p>Experiance</p>
		<p>It</p>
		<p>Today</p>
	</div>
	<div class="panel panel-4">
		<p>Give</p>
		<p>All</p>
		<p>You can</p>
	</div>
	<div class="panel panel-5">
		<p>Live</p>
		<p>In</p>
		<p>Motion</p>
	</div>
</div>
	
</body>
</html>