<html>
	<head>
		<title>Game</title>
		<link rel="stylesheet" type="text/css" href="game.css">
	</head>
	<body>
		<div class = "title">
			<h1>Catch them all!!!</h1>
			<h3>Eat all the balls as fast as you can!!!<br>Move the head with the arrows!</h3>
			<p id = "green">Yummi! You ate the green ball!</p>
			<p id = "blue">Yummi! You ate the blue ball!</p>
			<p id = "pink">Yummi! You ate the pink ball!</p>
			<p id = "orange">Yummi! You ate the orange ball!</p>
			<p id = "red">Yummi! You ate the red ball!</p>
		</div>
		<img src="images/game-background.png" id = "bgimg">
		<img src="images/game-head.png" id = "head">
		<img src="images/game-ball.png" id = "ball">
		<img src="images/game-ball2.png" id = "ball2">
		<img src="images/game-ball3.png" id = "ball3">
		<img src="images/game-ball4.png" id = "ball4">
		<img src="images/game-ball5.png" id = "ball5">

		<script src="game.js"></script>
		
	</body>
</html>