<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./practice.css">
    <script src='./practice.js'></script>
    <title>Document</title>
</head>
<body>
    <div class="lightbulb">
        <button id="on-off">On</button>
        <img src="./images/lb-off.jpg" id="bulb"> 
    </div>
    <div class="clock">
        <p id="time"></p>
        <button id="time-button">Show time</button>
    </div>
    <p>Start the rocket!</p>
    <button class="start start-1 not-ready" data-number="1">X</button>
    <button class="start start-2 not-ready" data-number="2">X</button>
    <button class="start start-3 not-ready" data-number="3">X</button>
    <button id="reset">Reset Rocket</button>
    <img src="./images/rocket.png" alt="" style="width: 150px" id="rocket" class="positon-1">
</body>
</html>