body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.bulb-clock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.lightbulb {
    justify-self: flex-start;
    padding: 50px;
}

.clock {
    justify-self: flex-end;
    padding:50px;
    width: 200px;
    text-align: center;
}
#time {
    font-size: 38px;
    font-weight: bold;
}
.rocket {
    position: absolute;
    bottom: 50px;
    left: 25%;
    text-align: center;
    width: 50%;
    height: 200px;
    display: flex;
}
.controlls {
    position: relative;
}
#rocket {
    position: absolute;
}
.positon-1 {
    bottom: 0;
    left: calc( 50% - 75px);
}
.position-2 {
    animation: fly 4s ease-in;
    animation-fill-mode: forwards;
}
.start {
    width: 50px;
    height: 50px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
}
.not-ready {
    background-color: #eb391b;
    border: 2px solid black;
    animation: flash 1s infinite normal;
}
.ready {
    background-color: #108b39;
    border: 2px solid #108b39;
}
.start-1 {
    left: 0;
    animation-delay: 0.2s;
    top: 60px
}
.start-2 {
    left: 100px;
    animation-delay: 0.4s;
    top: 60px;
}
.start-3 {
    top: 120px;
    left: 50px;
    bottom: 100px;
}
#reset {
    display: none;
    background-color: rgb(114, 5, 5);
    position: absolute;
    bottom: 30px;
    left: 250px;
    border: 1px solid rgb(114, 5, 5);
    padding: 10px;
    color: white;
    height: 40px;
}
@keyframes flash {
    0% {background-color: #eb391b;}
    50% {background-color: #eb391b;}
    100% {background-color: black;}
}
@keyframes fly{
    0% {transform: translateY(0) translateX(0)}
    100% {transform: translateY(-2000px) translateX(100px) rotate(20deg);}
}

